@font-face {
  font-family: "shabnam";
  src: url("../fonts/Shabnam.woff") format("woff"), url("../fonts/Shabnam.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: "shabnam";
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.header {
  height: 16rem;
}

.main {
  height: inherit;
}

.bg-logo,
.bg-logo img {
  height: inherit;
}

.logo-camel {
  top: 15%;
  right: 51%;
}

.logo-camel img {
  width: 6rem;
  height: 6rem;
}

.logo-camel span {
  font-size: 2rem;
  color: #007f62;
}

.menu {
  margin-top: 50px;
  padding-right: 50px;
}

.menu ul li a {
  font-size: 1.1vw;
}

.menu li a {
  transition: all 0.3s ease;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.menu li a:hover {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.sabt {
  margin-top: 40px;
}

.sabt button {
  width: 10rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  padding: 5px 8px;
  background: linear-gradient(to top, #e35325, #ff8a65);
  color: white;
  font-size: 14px;
  box-shadow: 0 0.7rem 2rem 0 rgba(227, 83, 39, 0.226);
}

.logo-signal {
  height: 100%;
  position: relative;
}

.logo-signal img {
  height: 220px;
  position: absolute;
  left: 0;
  top: 0;
}

.header2 {
  height: 7rem;
  width: 100%;
  background-color: #e0e0e0;
}

.close-menu span {
  font-size: 20px;
  color: #007f62;
  margin-right: 10px;
}

.camel-comel {
  height: 40rem;
  width: 100%;
  left: 15rem;
}

.logo-camel2 {
  right: 50%;
  width: 40%;
}

.logo-camel2 img {
  width: inherit;
}

.logo-camel2 span {
  font-size: 2rem;
  color: #007f62;
}

.none {
  display: none;
}

.show {
  display: block;
}

.header-section {
  margin-top: 5rem;
}

.title-section {
  text-align: right;
  line-height: 2.5rem;
}

.title-section p {
  font-size: 4rem;
  color: #007f62;
}

.title-section p span {
  border-bottom: 2px solid #007f62;
}

.title-section div {
  margin-top: 3rem;
  direction: rtl;
  font-size: 1.4rem;
}

.logo-section img {
  width: inherit;
}

@keyframes row {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes row2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1500px;
  }
}

.div-water {
  position: relative;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background: url("../images/bg-wave.png");
  background-size: 150rem 20rem;
}

.div1 {
  animation: row 30s linear infinite;
  z-index: 2;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.div2 {
  animation: row2 15s linear infinite;
  z-index: 1;
  animation-delay: -5s;
  bottom: 1rem;
}

.div-main {
  margin-bottom: 5rem;
  height: 660px;
  position: relative;
}

.div-mobile {
  width: 100%;
  height: inherit;
}

.div-mobile img {
  width: 35rem;
}

.div-matn {
  border-right: 2px solid #00f4bd;
  height: inherit;
}

.matn {
  height: 100%;
  width: 300px;
}

.matn div {
  font-size: 2.2rem;
  text-align: center;
  color: #007f62;
}

.matn p {
  font-size: 1.7rem;
  text-align: justify;
}

.abs {
  position: absolute;
  top: 0;
  right: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.abs div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #00f4bd;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s linear;
}

.abs div:hover {
  cursor: pointer;
}

.abs .abs-div1 {
  background-image: url("../images/013_icon_didani.svg");
}

.abs .abs-div2 {
  background-image: url("../images/014_icon_restaurant.svg");
}

.abs .abs-div3 {
  background-image: url("../images/015_icon_hotel.svg");
}

.abs .abs-div4 {
  background-image: url("../images/016_icon_fly.svg");
}

.abs .abs-div5 {
  background-image: url("../images/017_icon_nearme.svg");
}

.topm {
  padding-top: 0;
  height: inherit;
}

.div-download {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.43rem 2.5rem 0 #e5e5e5;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.div-download .div-download-title {
  font-size: 2.2rem;
  color: #007f62;
  margin: 2rem;
}

.div-download .div-download-des {
  text-align: center;
  font-size: 1.6rem;
  padding: 0 2rem;
}

.download {
  margin-top: 8rem;
}

.div-number {
  margin: 5rem;
  border: 1px solid #eeeeee;
  border-radius: 2.5rem;
  background-color: #fafafa;
}

.div-number input {
  background-color: #fafafa;
  padding: 0 1rem;
  direction: ltr;
  width: 20rem;
  height: 3.5rem;
  border: none;
  outline: none;
  border-radius: 2.5rem;
}

.div-number input::placeholder {
  font-size: 1.5rem;
}

.div-number button {
  width: 13rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  padding: 5px 8px;
  background: linear-gradient(to top, #e35325, #ff8a65);
  color: white;
  font-size: 14px;
  box-shadow: 0 0.7rem 2rem 0 rgba(227, 83, 39, 0.226);
}

.logo-download {
  width: 9rem;
  height: 9rem;
}

.logo-download img {
  width: inherit;
  height: inherit;
}

.icon-download {
  margin-bottom: 3rem;
}

.icon-download button {
  width: 13rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  padding: 5px 8px;
  background: linear-gradient(to top, #00a680, #00f4bd);
  color: white;
  font-size: 14px;
  border: none;
  outline: none;
}

.div-down {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.des-div-t {
  font-size: 3rem;
  color: white;
}

.des-div-des {
  font-size: 1.6rem;
  color: white;
}

.bg-des {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 35rem;
  background-image: url("../images/022_bg_amadegisafar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  width: 100%;
}

.des-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

.des-div button {
  width: 15rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  padding: 0px 10px;
  background: linear-gradient(to top, #e35325, #ff8a65);
  color: white;
  font-size: 14px;
  box-shadow: 0 0.7rem 2rem 0 rgba(227, 83, 39, 0.226);
}

.div-idea {
  overflow: hidden;
  margin-top: 6rem;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}

.div-idea .idea {
  width: 65%;
  margin-bottom: 4rem;
}

.div-idea .idea .div-idea-t {
  color: #007f62;
  font-size: 2.7rem;
}

.div-idea .idea .div-idea-des {
  text-align: justify;
  font-size: 1.6rem;
}

.div-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.div-img img {
  width: 26rem;
  height: 18rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}

.div-email {
  padding: 3rem 0 0 0;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.email p {
  font-size: 1.6rem;
}

@media screen and (max-width: 1100px) {
  .abs {
    right: 47%;
  }
}

@media screen and (max-width: 990px) {
  .show {
    display: none;
  }
  .none {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .x {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .y {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div-matn {
    height: auto;
    border-right: none;
  }
  .div-matn {
    height: auto;
    border: none;
  }
  .abs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .topm {
    padding-top: 7rem;
  }
  .div-main {
    height: auto;
  }
  .div-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .div-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
  }
  .div-number button {
    margin-top: 2rem;
  }
  .div-number input {
    width: 30rem;
    box-shadow: 0.25rem 0.43rem 1.5rem 0 #ccc;
  }
  .icon-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon-download button {
    margin: 1rem 0;
  }
  .bg-des {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: auto;
    background-image: none;
    background-color: lightgray;
    margin-bottom: 3rem;
    width: 100%;
  }
  .des-div {
    padding: 2rem 0;
  }
  .des-div-des,
  .des-div-t {
    color: black;
  }
  .div-email {
    background-color: #e1fff8;
  }
  .bg-change {
    background-color: #e1fff8;
  }
}
/*# sourceMappingURL=main.css.map */